/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	margin-top: 80px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}
.blackBackground{ 
 background: black;
 color: white;
 display: flex;
 position: fixed;
 top: 0px;
 left: 0px;
 height: 35px;
 padding-top: 15px;
 width: 100%;
 justify-content: center;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio > div:first-child{
	display: flex;
	justify-content: center;
    align-items: center;
    gap: 25px;
	margin-bottom: 40px;
}
#portfolio > div:first-child aside{
	display: none;
	cursor: pointer;
}
#portfolio .gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

#portfolio .gallery img {
	width: 100%;
}
#dialogBack{
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.5;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	display: none;
}
#dialogBox{
	width: 55%;
	padding-bottom: 60px;
	position: fixed;
	z-index: 3;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	border-radius: 15px;
	display: none;
}

#dialogBox .gallery{
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

#dialogBox h2{
	text-align: center;
	padding: 35px;
}

#dialogBox .gallery img {
	width: 90px;
	margin-right: 20px;
	margin-bottom: 20px;
}
#dialogBox .gallery figcaption{
	display: none;
}
#close{
	cursor: pointer;
	margin: 30px 30px;
    font-size: 30px;
}
#formSection {
	width: 50%;
margin: auto;
}
#formSection > * {
	text-align: center;

}
#formSection h2{
	margin-bottom: 20px;
}
#formSection form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#formSection input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding-left: 10px;
	padding-right: 10px;
}
#formSection label {
	margin: 2em 0 1em 0;
}
#formSection textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding-left: 10px;
	padding-right: 10px;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}





.formulaire{
	display: flex;
	margin-bottom: 35px;
	gap: 1em;
	justify-content: center;
}
.formulaire li{
	padding: 1em;
    border-radius: 30px;
	border: solid 2px #1c6c0e;
	padding: 10px 20px;

	font-size: 17px;
	font-weight: bold;
	font-family: 'Syne';
	color: #1c6c0e;
}
.formulaire li:hover{
	cursor: pointer;
	background-color: #1c6c0e;
	color: white;
}

a[href="login.html"]{
	text-decoration: none;
	color: black;
}